/* Universal Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
    overflow: hidden;
}

/* Carousel Styling */
.carousel {
    position: relative;
    width: 100vw;
    /* height: 100vh; */
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    /* height: 100%; */
}

.carousel-item {
    min-width: 100vw;
    /* height: 100vh; */
    display: none;
    justify-content: center;
    align-items: center;
}

.carousel-item.active {
    display: flex;
}

.carousel-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Navigation Buttons Styling */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    height: 30%;
    width: 8%;
    border-radius: 2rem;
}

.prev:hover,
.next:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;

}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Responsive Design */
/* Small Devices (max-width: 480px) */
@media (max-width: 580px) {

    .prev,
    .next {
        font-size: 1rem;
        padding: 5px;
    }
}

/* Medium Devices (min-width: 481px and max-width: 768px) */
@media (min-width: 581px) and (max-width: 768px) {

    .prev,
    .next {
        font-size: 1.25rem;
        padding: 7px;
    }
        .carousel,
        .carousel-item {
            height: 100vh;
        }
                .carousel-inner{
                    height: 100%;
                }


}

/* Large Devices (min-width: 769px and max-width: 1200px) */
@media (min-width: 769px) and (max-width: 1200px) {

    .prev,
    .next {
        font-size: 1.5rem;
        padding: 10px;
    }
                .carousel,
                .carousel-item {
                    height: 100vh;
                }
        
                .carousel-inner {
                    height: 100%;
                }
}

/* Extra Large Devices (min-width: 1201px) */
@media (min-width: 1201px) {

    .prev,
    .next {
        font-size: 2rem;
        padding: 10px;
    }
                .carousel,
                .carousel-item {
                    height: 100vh;
                }
        
                .carousel-inner {
                    height: 100%;
                }
}